@charset 'utf-8';

@import url("http://cdn.jsdelivr.net/font-nanum/1.0/nanumbarungothic/nanumbarungothic.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanummyeongjo.css");


html, body {margin:0;padding: 0;width:100%;}
body {width:100%;-webkit-text-size-adjust:none;margin:0 auto;padding:0;font-size:15px;line-height:100%;letter-spacing:-0.08em; word-spacing:0;color:#666666;position:relative;font-family: Nanum Barun Gothic,"나눔고딕", NanumGothic, Malgun Gothic, "돋움", Dotum, AppleGothic, sans-serif}

/* inline */
img {display:inline-block;border:0 none;}
cite, code, dfn, del, em, ins, label, q, span, strong {display:inline-block;}
cite, em, dfn {font-style:normal;}
sub {vertical-align:bottom;font-family:helvetica;}
sup {vertical-align:top;font-family:helvetica;}
hr {display:none;}

/* block 
h1, h2, h3, h4, h5, h6 {margin:0;font-size:1em;font-weight:normal;}
address {font-style:normal;}
blockquote, p  {margin:0;}
pre {margin:0;font-size:1em;}*/


/* table */
table {border-spacing:0;border-collapse:collapse;}
caption {display:none;}
th,
td {padding:0;vertical-align:top;text-align:left;font-weight:normal;} /* opara height=18px */


/* list */
dd, dl, ol, ul {margin:0;padding:0;}
li {list-style-type:none;}

/* form */
form {margin:0;}
fieldset {margin:0;padding:0;border:0 none;}
legend {display:none;}
input {vertical-align:middle;color:#888888;text-indent:0px;*text-indent:0;font-family: 'NanumGothic';font-size:13px;}
input.text {height:22px !important;line-height:100%;border-top:1px solid #a0a0a0;border-left:1px solid #a0a0a0;border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;background:#fff;border-radius:0 !important;text-indent:5px;margin:0 !important;padding:0 !important;-webkit-appearance: none;appearance: none;}
input.check, input.radio {width:13px;height:12px;margin:0px 3px 1px 0;border:1px solid #b1b2b2;border:/*＼**/0;outline:none;border-radius:0 !important;}
select {height:22px;border:1px solid #ccc;background:#fff;padding:0;margin:0;}
select.disabled{background-color:#f4f4f4;border:1px solid #e1e1e1;}
input.disabled{background-color:#f4f4f4;border:1px solid #e1e1e1;}
textarea.textarea{font-family: 'NanumGothic';font-size:13px;color:#888888;border-top:1px solid #a0a0a0;border-left:1px solid #a0a0a0;border-bottom:1px solid #e1e1e1;border-right:1px solid #e1e1e1;background:#fff;border-radius:0 !important;text-indent:5px;margin:0 !important;padding:0 !important;}

/* basic */
.spacial-char {font-family:verdana;}
.hidden-obj {position:absolute;top:-9000px;left:-9000px;}
.display-none {display:none;}

/* align */
.text-c {text-align:center !important;}
.text-l {text-align:left !important;}
.text-r {text-align:right !important;}
.vertical-t {vertical-align:top !important;}
.vertical-m {vertical-align:middle !important;}
.vertical-b {vertical-align:bottom !important;}
.float-l {float:left !important;}
.float-r {float:right !important;}
.float-n {float:none !important;}

/* clear */
.clear:after{content:".";height:0;font-size:0;visibility:hidden;display:inline-block;clear:both;}
.clear{display:inline-block;}

* html .clear{height:0;}

.clear2:after{content:".";height:0;font-size:0;visibility:hidden;display:block;clear:both;}
.clear2{zoom:1;display:block;}
.clear-both{clear:both;}


/* Global link */
a {color:#444444; text-decoration:none;display: block}
a:link {color:#444444;}
a:visited {color:#444444;}
a:hover {color:#444444;}
a:active {color:#444444; }

.cursor-p {cursor:pointer;}
.border-none {border:none;}

/* 마진 */
.mt-0{margin-top:0px !important;}
.mt-1{margin-top:1px;}
.mt-2{margin-top:2px !important;}
.mt-3{margin-top:3px !important;}
.mt-4{margin-top:4px !important;}
.mt-5{margin-top:5px !important;}
.mt-6{margin-top:6px !important;}
.mt-7{margin-top:7px !important;}
.mt-8{margin-top:8px !important;}
.mt-9{margin-top:9px !important;}
.mt-10{margin-top:10px !important;}
.mt-11{margin-top:11px !important;}
.mt-12{margin-top:12px !important;}
.mt-13{margin-top:13px !important;}
.mt-14{margin-top:14px !important;}
.mt-15{margin-top:15px !important;}
.mt-16{margin-top:16px !important;}
.mt-17{margin-top:17px !important;}
.mt-18{margin-top:18px !important;}
.mt-19{margin-top:19px !important;}
.mt-20{margin-top:20px !important;}
.mt-22{margin-top:22px !important;}
.mt-23{margin-top:23px !important;}
.mt-25{margin-top:25px !important;}
.mt-26{margin-top:26px !important;}
.mt-27{margin-top:27px !important;}
.mt-29{margin-top:29px !important;}
.mt-30{margin-top:30px !important;}
.mt-34{margin-top:34px !important;}
.mt-35{margin-top:35px !important;}
.mt-36{margin-top:36px !important;}
.mt-38{margin-top:38px !important;}
.mt-40{margin-top:40px !important;}
.mt-42{margin-top:42px !important;}
.mt-44{margin-top:44px !important;}
.mt-45{margin-top:45px !important;}
.mt-50{margin-top:50px !important;}
.mt-52{margin-top:52px !important;}
.mt-55{margin-top:55px !important;}
.mt-57{margin-top:57px !important;}
.mt-60{margin-top:60px !important;}
.mt-65{margin-top:65px !important;}
.mt-69{margin-top:69px !important;}
.mt-70{margin-top:70px !important;}
.mt-74{margin-top:74px !important;}
.mt-76{margin-top:76px !important;}
.mt-80{margin-top:80px !important;}
.mt-90{margin-top:90px !important;}
.mt-95{margin-top:95px !important;}
.mt-100{margin-top:100px !important;}
.mt-120{margin-top:120px !important;}
.mt-150{margin-top:150px !important;}
.mt-200{margin-top:200px !important;}
.mt-300{margin-top:300px !important;}


.mr-0{margin-right:0 !important;}
.mr-2{margin-right:2px !important;}
.mr-3{margin-right:3px !important;}
.mr-4{margin-right:4px !important;}
.mr-5{margin-right:5px !important;}
.mr-6{margin-right:6px !important;}
.mr-7{margin-right:7px !important;}
.mr-8{margin-right:8px !important;}
.mr-9{margin-right:9px !important;}
.mr-10{margin-right:10px !important;}
.mr-14{margin-right:14px !important;}
.mr-15{margin-right:15px !important;}
.mr-19{margin-right:19px !important;}
.mr-20{margin-right:20px !important;}
.mr-23{margin-right:23px !important;}
.mr-25{margin-right:25px !important;}
.mr-26{margin-right:26px !important;}
.mr-29{margin-right:29px !important;}
.mr-30{margin-right:30px !important;}
.mr-31{margin-right:31px !important;}
.mr-35{margin-right:35px !important;}
.mr-37{margin-right:37px !important;}
.mr-40{margin-right:40px !important;}
.mr-42{margin-right:42px !important;}
.mr-49{margin-right:49px !important;}
.mr-50{margin-right:50px !important;}
.mr-57{margin-right:57px !important;}
.mr-100{margin-right:100px !important;}


.mb-2{margin-bottom:2px !important;}
.mb-3{margin-bottom:3px !important;}
.mb-5{margin-bottom:5px !important;}
.mb-7{margin-bottom:7px !important;}
.mb-8{margin-bottom:8px !important;}
.mb-10{margin-bottom:10px !important;}
.mb-11{margin-bottom:11px !important;}
.mb-12{margin-bottom:12px !important;}
.mb-13{margin-bottom:13px !important;}
.mb-15{margin-bottom:15px !important;}
.mb-17{margin-bottom:17px !important;}
.mb-19{margin-bottom:19px !important;}
.mb-20{margin-bottom:20px !important;}
.mb-23{margin-bottom:23px !important;}
.mb-25{margin-bottom:25px !important;}
.mb-27{margin-bottom:27px !important;}
.mb-30{margin-bottom:30px !important;}
.mb-40{margin-bottom:40px !important;}
.mb-50{margin-bottom:50px !important;}
.mb-60{margin-bottom:60px !important;}
.mb-80{margin-bottom:80px !important;}
.mb-100{margin-bottom:100px !important;}
.mb-120{margin-bottom:120px !important;}


.ml-0{margin-left:0 !important;}
.ml-1{margin-left:1px !important;}
.ml-2{margin-left:2px !important;}
.ml-3{margin-left:3px !important;}
.ml-4{margin-left:4px !important;}
.ml-5{margin-left:5px !important;}
.ml-6{margin-left:6px !important;}
.ml-7{margin-left:7px !important;}
.ml-8{margin-left:8px !important;}
.ml-9{margin-left:9px !important;}
.ml-10{margin-left:10px !important;}
.ml-11{margin-left:11px !important;}
.ml-12{margin-left:12px !important;}
.ml-13{margin-left:13px !important;}
.ml-14{margin-left:14px !important;}
.ml-15{margin-left:15px !important;}
.ml-16{margin-left:16px !important;}
.ml-18{margin-left:18px !important;}
.ml-19{margin-left:19px !important;}
.ml-20{margin-left:20px !important;}
.ml-22{margin-left:22px !important;}
.ml-23{margin-left:23px !important;}
.ml-24{margin-left:24px !important;}
.ml-25{margin-left:25px !important;}
.ml-27{margin-left:27px !important;}
.ml-29{margin-left:29px !important;}
.ml-30{margin-left:30px !important;}
.ml-34{margin-left:34px !important;}
.ml-35{margin-left:35px !important;}
.ml-36{margin-left:36px !important;}
.ml-37{margin-left:37px !important;}
.ml-38{margin-left:38px !important;}
.ml-39{margin-left:39px !important;}
.ml-40{margin-left:40px !important;}
.ml-42{margin-left:42px !important;}
.ml-45{margin-left:43px !important;}
.ml-50{margin-left:50px !important;}
.ml-52{margin-left:52px !important;}
.ml-54{margin-left:54px !important;}
.ml-55{margin-left:55px !important;}
.ml-60{margin-left:60px !important;}
.ml-65{margin-left:65px !important;}
.ml-70{margin-left:70px !important;}
.ml-74{margin-left:74px !important;}
.ml-77{margin-left:77px !important;}
.ml-80{margin-left:80px !important;}
.ml-85{margin-left:85px !important;}
.ml-88{margin-left:88px !important;}
.ml-90{margin-left:90px !important;}
.ml-95{margin-left:95px !important;}
.ml-100{margin-left:100px !important;}
.ml-105{margin-left:105px !important;}
.ml-109{margin-left:109px !important;}
.ml-118{margin-left:118px !important;}
.ml-120{margin-left:120px !important;}
.ml-150{margin-left:150px !important;}
.ml-157{margin-left:160px !important;}
.ml-170{margin-left:170px !important;}
.ml-200{margin-left:200px !important;}
.ml-210{margin-left:210px !important;}
.ml-457{margin-left:457px !important;}

.mml-2{margin-left:-2px !important;}

/* padding */
.pdl-0{padding-left:0 !important;}
.pdl-4{padding-left:4px !important;}
.pdl-5{padding-left:5px !important;}
.pdl-8{padding-left:8px !important;}
.pdl-10{padding-left:10px !important;}
.pdl-14{padding-left:14px !important;}
.pdl-15{padding-left:15px !important;}
.pdl-20{padding-left:20px !important;}
.pdl-28{padding-left:28px !important;}
.pdl-30 {padding-left:30px  !important;}
.pdl-35 {padding-left:35px  !important;}
.pdl-37 {padding-left:37px  !important;}
.pdl-40 {padding-left:40px  !important;}
.pdl-45 {padding-left:45px  !important;}
.pdl-50 {padding-left:50px  !important;}
.pdl-70 {padding-left:70px  !important;}
.pdl-90 {padding-left:90px  !important;}
.pdl-103 {padding-left:103px  !important;}

.pdr-4{padding-right:4px !important;}
.pdr-5{padding-right:5px !important;}
.pdr-10{padding-right:10px !important;}
.pdr-14{padding-right:14px !important;}

.pdt-0 {padding-top:0px !important;}
.pdt-2 {padding-top:2px !important;}
.pdt-3 {padding-top:3px !important;}
.pdt-4 {padding-top:4px !important;}
.pdt-5 {padding-top:5px !important;}
.pdt-6 {padding-top:6px !important;}
.pdt-7 {padding-top:7px !important;}
.pdt-10{padding-top:10px !important;}
.pdt-11{padding-top:11px !important;}
.pdt-12{padding-top:12px !important;}
.pdt-14{padding-top:14px !important;}
.pdt-15{padding-top:15px !important;}
.pdt-17{padding-top:17px !important;}
.pdt-18{padding-top:18px !important;}
.pdt-20{padding-top:20px !important;}
.pdt-23{padding-top:23px !important;}
.pdt-25{padding-top:25px !important;}
.pdt-30{padding-top:30px !important;}
.pdt-34{padding-top:34px !important;}
.pdt-40{padding-top:40px !important;}
.pdt-45{padding-top:45px !important;}
.pdt-49{padding-top:49px !important;}
.pdt-50{padding-top:50px !important;}
.pdt-70{padding-top:70px !important;}
.pdt-80{padding-top:80px !important;}


.pdb-10{padding-bottom:10px !important;}
.pdb-20{padding-bottom:20px !important;}
.pdb-15{padding-bottom:15px !important;}
.pdb-25{padding-bottom:25px !important;}
.pdb-30{padding-bottom:30px !important;}
.pdb-35{padding-bottom:35px !important;}
.pdb-40{padding-bottom:40px !important;}
.pdb-48{padding-bottom:48px !important;}
.pdb-50{padding-bottom:50px !important;}
.pdb-55{padding-bottom:55px !important;}
.pdb-65{padding-bottom:65px !important;}
.pdb-72{padding-bottom:72px !important;}
.pdb-80{padding-bottom:80px !important;}


.wd-30 {width:30px;}
.wd-45 {width:45px;}
.wd-50 {width:50px;}
.wd-55 {width:55px;}
.wd-60 {width:60px;}
.wd-66 {width:66px;}
.wd-70 {width:70px;}
.wd-74 {width:74px;}
.wd-76 {width:76px;}
.wd-80 {width:80px;}
.wd-85 {width:85px;}
.wd-90 {width:90px;}
.wd-94 {width:94px;}
.wd-100 {width:100px;}
.wd-105 {width:105px;}
.wd-110 {width:110px;}
.wd-115 {width:115px;}
.wd-120 {width:120px;}
.wd-122 {width:122px;}
.wd-123 {width:123px;}
.wd-125 {width:125px;}
.wd-130 {width:130px;}
.wd-135 {width:135px;}
.wd-140 {width:140px;}
.wd-146 {width:146px;}
.wd-147 {width:147px;}
.wd-150 {width:150px;}
.wd-155 {width:155px;}
.wd-160 {width:160px;}
.wd-165 {width:165px;}
.wd-170 {width:170px;}
.wd-175 {width:175px;}
.wd-180 {width:180px;}
.wd-183 {width:183px;}
.wd-184 {width:184px;}
.wd-185 {width:185px;}
.wd-186 {width:186px;}
.wd-187 {width:187px;}
.wd-190 {width:190px;}
.wd-200 {width:200px;}
.wd-204 {width:204px;}
.wd-209 {width:209px;}
.wd-220 {width:220px;}
.wd-230 {width:230px;}
.wd-235 {width:235px;}
.wd-240 {width:240px;}
.wd-242 {width:242px;}
.wd-248 {width:248px;}
.wd-249 {width:249px;}
.wd-250 {width:250px;}
.wd-253 {width:253px;}
.wd-254 {width:254px;}
.wd-255 {width:255px;}
.wd-260 {width:260px;}
.wd-270 {width:270px;}
.wd-278 {width:278px;}
.wd-285 {width:285px;}
.wd-300 {width:300px;}
.wd-305 {width:305px;}
.wd-320 {width:320px;}
.wd-330 {width:330px;}
.wd-360 {width:360px;}
.wd-376 {width:376px;}
.wd-382 {width:382px;}
.wd-398 {width:398px;}
.wd-413 {width:413px;}
.wd-420 {width:420px;}
.wd-450 {width:450px;}
.wd-480 {width:480px;}
.wd-500 {width:500px;}
.wd-510 {width:510px;}
.wd-545 {width:545px;}
.wd-548 {width:548px;}
.wd-550 {width:550px;}
.wd-570 {width:570px;}
.wd-580 {width:580px;}
.wd-590 {width:590px;}
.wd-598 {width:598px;}
.wd-600 {width:600px;}
.wd-610 {width:610px;}
.wd-630 {width:630px;}
.wd-660 {width:660px;}
.wd-670 {width:670px;}
.wd-700 {width:700px;}
.wd-730 {width:730px;}
.wd-740 {width:740px;}
.wd-750 {width:750px;}
.wd-770 {width:770px;}
.wd-810 {width:810px;}
.wd-825 {width:825px;}
.wd-840 {width:840px;}
.wd-870 {width:870px;}
.wd-880 {width:880px;}

.wd-20p {width:20%;}
.wd-50p {width:50%;}
.wd-90p {width:90%;}
.wd-95p {width:95%;}
.wd-98p {width:98%;}
.wd-99p {width:99%;}