/* body{
  font-family:Arial, Helvetica, sans-serif;
  margin:0 auto;
}
a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
a:visited {
  color: #666;
  font-weight:bold;
  text-decoration:none;
}
a:active,
a:hover {
  color: #bd5a35;
  text-decoration:underline;
} */

.table1 a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
.table1 a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
.table1 a:active,
.table1 a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
.table1{
  width: 90%;
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:15px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  margin:20px;
  border:#ccc 1px solid;


  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
.table1 th {
  padding:15px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
  
}
.table1 th:first-child{
  text-align: left;
  padding-left:20px;
}
.table1 tr:first-child th:first-child{
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
.table1 tr:first-child th:last-child{
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
.table1 tr{
  text-align: left;
  padding-left:20px;
}
.table1 tr td:first-child{
  text-align: center;
  padding-left:20px;
  border-left: 0;
}
.table1 tr td {
  padding:12px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;

  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
.table1 tr.even td{
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
.table1 tr:last-child td{
  border-bottom:0;
}
.table1 tr:last-child td:first-child{
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
.table1 tr:last-child td:last-child{
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
.table1 tr:hover td{
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);
}
