html {
	height: 100%
}

#wrap {
	min-height: 100%
}

#container {
	padding-bottom: 1em
}

#footer {
	width:100%;
	float:left;
	background-color: #efcee1;
    height: 44px;
    text-align: center;
    line-height: 44px;
    padding: 0px 15px;
}

body {
	font-family: "Lucida Sans Typewriter", "Lucida Console", Monaco,
		"Bitstream Vera Sans Mono", monospace;
	height: 100%;
	text-align: center; vertical-align : middle;
	padding: px;
	background: #fff;
	font-family: Helvetica, sans-serif;
	vertical-align: middle;
	font-size: 17px;
	
}
/*화면분할*/
.container {
	width: 100%;
	height: 100%;
	
}

#bar {
   color:#000;
   margin: 0px -5px;
   font-family:nanum;
   font-size:12px;
   font-weight:bold;
   text-decoration:none;
   text-shadow:2px 2px 3px #778899;
}

#vtbar {
   margin: 15px;
}

#header {
   background-color: #fff;
   position: relative;
   width: 100%;
   height: 150px;
   line-height: 150px;
}

#logo{
   margin-left: 10px;
   display: inline-block;
   position: left;
   padding-top:1%;
   float:left;
}

#topbar {
   background-color: #efcee1;
   height: 44px;
   text-align: right;
   position: relative;
   line-height: 44px;
   padding: 0px 15px;
}

.cont {
	/* padding-top: 100px; */
	width: 80%;
	height: 80%;
}


.menu {
   top:0px;
   left :330px;
   width: 70%;
   height: 50px;
   padding-top: 70px;
   position: absolute;
   background: #ffffff;
   float: right;
   font-size: 16px;
   display: inline-block;
   
}

.menu ul {
   list-style: none;
   padding: 0;
   line-height: 1;
   text-align: right;
}

.menu>ul {
   position: relative;
   display: block;
   background: #ffffff;
   width: 100%;
/*    z-index: 500; */

}

.menu:after, .menu>ul:after {
   content: ".";
   display: block;
   clear: both;
   visibility: hidden;
   line-height: 0;
   height: 0;
}

.menu.align-right>ul>li {
   float: right;
}

.menu.align-center ul {
   text-align: center;
}

.menu.align-center ul ul {
   text-align: left;
}

.menu>ul>li {
   display: inline-block;
   position: relative;
   margin: 0;
   padding: 0;
}

.menu>ul>#menu-button {
   display: none;
}

.menu ul li a {
   display: block;
   font-family: nanum;
   text-decoration: none;
}

.menu>ul>li>a {
   font-size: 18px;
   font-weight: bold;
   padding: 15px 30px;
   color: #000000;
   text-transform: uppercase;
   -webkit-transition: color 0.25s ease-out;
   -moz-transition: color 0.25s ease-out;
   -ms-transition: color 0.25s ease-out;
   -o-transition: color 0.25s ease-out;
   transition: color 0.25s ease-out;
}

.menu>ul>li.sub>a {
   padding-right: 32px;
}

.menu>ul>li:hover>a {
   color: #efcee1;
}

.menu li.sub::after {
   display: block;
   content: "";
   position: absolute;
   width: 0;
   height: 0;
}

.menu>ul>li.sub::after {
   right: 10px;
   top: 20px;
   border: 5px solid transparent;
   border-top-color: #efcee1;
}

.menu>ul>li:hover::after {
   border-top-color: #ffffff;
}

.menu ul ul {
   position: absolute;
   left: -9999px;
   top: 70px;
   opacity: 0;
   -webkit-transition: opacity .3s ease, top .25s ease;
   -moz-transition: opacity .3s ease, top .25s ease;
   -ms-transition: opacity .3s ease, top .25s ease;
   -o-transition: opacity .3s ease, top .25s ease;
   transition: opacity .3s ease, top .25s ease;
   z-index: 1000;
}

.menu ul ul ul {
   top: 37px;
   padding-left: 5px;
}

.menu ul ul li {
   position: relative;
   text-align: center;
}

.menu>ul>li:hover>ul {
   left: auto;
   top: 44px;
   opacity: 1;
}

.menu.align-right>ul>li:hover>ul {
   left: auto;
   right: 0;
   opacity: 1;
}

.menu ul ul li:hover>ul {
   left: 170px;
   top: 0;
   opacity: 1;
}

.menu.align-right ul ul li:hover>ul {
   left: auto;
   right: 170px;
   top: 0;
   opacity: 1;
   padding-right: 5px;
}

/*하위메뉴 네모난부분*/
.menu ul ul li a {
   width: 130px;
   border-bottom: 1px solid #aaa;
   padding: 10px 20px;
   font-size: 15px;
   color: #444444;
   background: #eee;
   -webkit-transition: all .35s ease;
   -moz-transition: all .35s ease;
   -ms-transition: all .35s ease;
   -o-transition: all .35s ease;
   transition: all .35s ease;
}

.menu.align-right ul ul li a {
   text-align: right;
}
    
.menu ul ul li:hover>a {
   background: #efcee1;
   color: #8c9195;
}

.menu ul ul li:last-child>a, .menu ul ul li.last>a {
   border-bottom: 0;
}

/*하위메뉴 삼각형*/
.menu>ul>li>ul::after {
   content: '';
   border: 6px solid transparent;
   width: 0;
   height: 0;
   border-bottom-color: #cccccc;
   position: absolute;
   top: -12px;
   left: 30px;
}

.menu>ul>li>ul.hover::after {
   content: '';
   border: 6px solid transparent;
   width: 0;
   height: 0;
   border-bottom-color: #efcee1;
   position: absolute;
   top: -12px;
   left: 30px;
}

.menu.align-right>ul>li>ul::after {
   left: auto;
   right: 30px;
}

.menu.align-right ul ul li.sub::after {
   border-left-color: transparent;
   border-right-color: #9ea2a5;
   right: auto;
   left: 10px;
}

.menu ul ul li.sub:hover::after {
   border-left-color: #fff;
   right: -5px;
   -webkit-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
   transform: rotateY(180deg);
}

.menu.align-right ul ul li.sub:hover::after {
   border-right-color: #fff;
   border-left-color: transparent;
   left: -5px;
   -webkit-transform: rotateY(180deg);
   -ms-transform: rotateY(180deg);
   -moz-transform: rotateY(180deg);
   -o-transform: rotateY(180deg);
   transform: rotateY(180deg);
